.espaceImage { /*espace occupé par l'image*/

	position: relative;
	display: left;

	height: 730px; /* 550px base*/ 
	display: grid;
    grid-template-columns: 1fr 48fr 48fr 1fr;
   	grid-template-rows: 8fr 1fr;

}

video {   /*video*/
	grid-row: 1;
	grid-column: 1/-1;
	margin-top: -8%;
	min-height: 300px;

	z-index:-1;
}
