.contenu{
	font-family: "Calibri";
}

.contenu{
	padding: 30px 0px;
	display: grid;
    grid-template-columns: 1fr 500px 1fr;
   	grid-template-rows: 1fr;
   	background-color: AliceBlue;
}
.contenu h1{
	font-size: 45px;
	color: white;
	text-decoration: underline;
	padding-bottom: 10px;
}
h2{
	text-align: center; 
	font-size: 35px;
	grid-column: 2;
}

.carte{ 
	color:white;
	text-align: center;
	margin: 10px;
	padding:20px;
	background-color:Navy;
	width :500px;
	margin:auto;
	border-radius:1em;
	grid-column: 2;
}

.carte img{
	width: 450px;
	height: 200px;
	padding-bottom: 10px;
}

p{
	text-align: center;
	text-decoration : underline;
	color: white;
	font-size: 30px;
}

@media only screen and (max-width: 510px) {

	.carte,.text,h3{
		width: 100%;
		grid-column: 1;
	}


}