
.contenu{
	display: grid;
    grid-template-columns: 1fr 500px 1fr;
   	grid-template-rows: 1fr
   	/*background-color: #FFF;*/
}

.contenu img{ /*taille image*/
	width: 300px;
	height: 250px;
	border:none;
}



@media only screen and (max-width: 768px) {

.contenu{
    grid-template-columns: 100%;
}


}